.timeline-section .subsection-header {
  margin: 0;
}

.timeline-section h6{
  color: hsl(240, 100%, 25.1%, 75%);
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border-radius: 1em;
  padding: 0.5em;
  margin-top: 0.4em;
  background: whitesmoke;
  /*! font-family: myLobster; */
  /*! font-style: italic; */
}

.timeline {
  position: relative;
  list-style-type: none;
  width: 95%;
  margin: 0.6em auto;
  border-radius: 6%;
  background-image: linear-gradient(to bottom,var(--shade-1),white, white, aliceblue, var(--shade-1));
  padding: 2em 0 1em 0;
}

.timeline::before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(80,80,80,0) 0%, navy 8%, navy 92%, rgba(80,80,80,0) 100%);
  z-index: 1;
  transform: translateX(-50%);
}

.timeline-section .subsection-header::before{
  content: unset;
}

.timeline li {
  display: flex;
  padding: 0.9em 0;
  flex-direction: column;
  margin-bottom: 0.5em;
  position: relative;
  z-index: 1;
}

.timeline li:first-child{
  margin-top: 1em;
}

.timeline li:first-child .desc, .timeline li:last-child .desc{
  border-bottom-left-radius: 0.9em;
  border-bottom-right-radius: 0.9em;
}

.timeline li:first-child .desc p, .timeline li:last-child .desc p{
  padding: 0.5em;
}

.event-content-parent{
  position: relative;
  padding: 0 0.4em;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px){
  .event-content-parent{
    position: relative;
    padding: 0 1.3em;
    text-align: center;
    width: 100%;
  }
}

/*=================== Timeline Mid-line Marker Label ==================*/
.event-content-parent::before{
  position: absolute;
  content: " ";
  display: block;
  width: 1.0em;
  height: 1.0em;
  border-radius: 0.7em;
  border: 6px solid orangered;
  z-index: 10;
  top: -3.7em;
  transform: translateX(-50%);
  background: aliceblue;
  left: 50%;
}
/*===================== End Mid-line Marker Label ====================*/

.event-time-wrapper{
  display: flex;
  order: -1;
  justify-content: center;
  border-radius: 0.4em;
  padding: 0 1.3em;
  margin-bottom: 0.1em;
}

.event-time-wrapper .event-time{
  padding: 0.2em 0.5em;
  position: relative;
  display: block;
  box-shadow: 1px 1px 2px black;
  z-index: 10;
  color: var(--brand-color-1);
  background: lightgray;
}

/*================ Speech Bubble Anchor (little triangle) =================*/
.event-time-wrapper .event-time::after{
  position: absolute;
  display: block;
  content: "";
  border: solid 12px transparent;
  transform: translate(-50%, -50%);
  left: 50%;
  top: -0.5em;
  border-bottom-color: lightgray;
}
/*========================= Speech Bubble Anchor End =================*/

.flag-wrapper {
  position: relative;
  display: block;
  text-align: center;
  z-index: 1;
}

.flag {
  display: block;
  background-color: lightblue;
  padding: 6px 10px;
  border-radius: 3em;
  font-weight: 600;
  text-align: center;
  color: navy;
  background: ;
}

.desc {
  color: navy;
  /*background-color: hsl(194.7, 93.3%, 98%);*/
  background-color: #ecfbfb;
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.5em;
  margin-top: 0.5em;
  border-top: 3px solid hsl(38.8, 100%, 40%);
  text-align: center;
  position: relative;
}
.desc p{
  margin-bottom: 0;
  transform: unset;
  transition: unset;
}
.desc video {
  max-width: 100%;
  margin-top: 0.5em;
  object-fit: cover;
  /*! background-image: linear-gradient(50deg, lightblue, blue, navy, var(--shade-1)); */
}

/* =================== Timeline Media Queries ================== */
/* =================== For Wider Screen Sizes ================== */
@media screen and (min-width: 992px) {
  .timeline li{
    flex-direction: row;
  }
  .event-time-wrapper{
    flex-basis: 50%;
    justify-content: end;
    align-items: start;
    /*! align-content: center; */
    align-items: center;
  }
  .timeline li:nth-child(odd) .event-time-wrapper .event-time{
    margin-left: auto;
  }
  .timeline li:nth-child(even) .event-time-wrapper{
    order: 2;
    justify-content: start;
  }
  .event-time-wrapper .event-time{
    margin-top: 1.3em;
    box-shadow: -1px 1px 2px black;
  }
  .timeline li:nth-child(even) .event-time-wrapper .event-time{
    box-shadow: 1px 1px 2px black;
  }
  .event-time-wrapper .event-time::after{
    border-bottom-color: transparent;
    border-left-color: lightgray;
    left: initial;
    transform: translateY(-50%);
    top: 50%;
    right: -1.1em;
  }
  .timeline li:nth-child(even) .event-time-wrapper .event-time::after{
    border-right-color: lightgray;
    border-left-color: transparent;
    right: initial;
    left: -1.1em;
  }
  .event-content-parent{
    flex-basis: 50%;
  }
  .event-content-parent::before{
    left: 0;
    top: 1.85em;
    top: 50%;
  }
  .timeline li:nth-child(even) .event-content-parent::before{
    left: initial;
    right: 0;
    transform: translateX(50%);
  }
  .event-content-parent .desc{
    
  }
}